In [1]:
n:1000000
item:`apple`banana`orange`pear
city:`beijing`chicago`london`paris
tab:([]time:asc n?0D0;n?item;amount:n?100;n?city)
tab

time                 item   amount city
------------------------------------------
0D00:00:00.048360228 banana 62     beijing
0D00:00:00.062180310 pear   94     beijing
0D00:00:00.159745663 banana 27     london
0D00:00:00.466201454 apple  50     chicago
0D00:00:00.480262935 banana 40     london
0D00:00:00.548035651 banana 32     chicago
0D00:00:00.555921345 pear   88     london
0D00:00:00.705146044 banana 22     paris
0D00:00:00.712388008 banana 98     london
0D00:00:00.944794714 pear   53     chicago
0D00:00:00.952962040 orange 28     beijing
0D00:00:00.958473980 banana 48     paris
0D00:00:01.036425679 orange 7      chicago
0D00:00:01.071770489 banana 40     london
0D00:00:01.254006475 orange 69     london
0D00:00:01.259618997 orange 43     chicago
0D00:00:01.319606602 banana 4      beijing
0D00:00:01.370139420 banana 65     chicago
0D00:00:01.408984512 banana 83     london
0D00:00:01.414858549 apple  68     beijing
..

In [2]:
select from tab where item=`banana

time                 item   amount city
------------------------------------------
0D00:00:00.048360228 banana 62     beijing
0D00:00:00.159745663 banana 27     london
0D00:00:00.480262935 banana 40     london
0D00:00:00.548035651 banana 32     chicago
0D00:00:00.705146044 banana 22     paris
0D00:00:00.712388008 banana 98     london
0D00:00:00.958473980 banana 48     paris
0D00:00:01.071770489 banana 40     london
0D00:00:01.319606602 banana 4      beijing
0D00:00:01.370139420 banana 65     chicago
0D00:00:01.408984512 banana 83     london
0D00:00:01.890353858 banana 76     paris
0D00:00:02.232053875 banana 63     beijing
0D00:00:02.458868175 banana 65     chicago
0D00:00:02.878721058 banana 80     paris
0D00:00:03.401349484 banana 18     london
0D00:00:03.690867125 banana 39     beijing
0D00:00:03.877729922 banana 62     chicago
0D00:00:04.152683168 banana 90     chicago
0D00:00:04.457911849 banana 65     paris
..

In [3]:
select sum amount by city from tab

city   | amount
-------| --------
beijing| 12418161
chicago| 12342736
london | 12367712
paris  | 12383797

In [4]:
select sum amount by time.hh,item from tab

hh item  | amount
---------| ------
0  apple | 526212
0  banana| 507660
0  orange| 502360
0  pear  | 511619
1  apple | 513634
1  banana| 508256
1  orange| 523457
1  pear  | 516540
2  apple | 505669
2  banana| 512270
2  orange| 513962
2  pear  | 523245
3  apple | 523114
3  banana| 511499
3  orange| 510569
3  pear  | 517673
4  apple | 521745
4  banana| 516055
4  orange| 518225
4  pear  | 513618
..

In [5]:
\t select from tab

0

In [6]:
\l ../../scripts/calls.q

In [7]:
computer

time                          id  cpu
-------------------------------------
2024.06.18D11:14:16.015082797 208 36
2024.06.18D11:14:16.037045506 157 28
2024.06.18D11:14:16.037916717 695 40
2024.06.18D11:14:16.041150115 428 31
2024.06.18D11:14:16.051011098 302 34
2024.06.18D11:14:16.083238985 662 35
2024.06.18D11:14:16.097293970 972 40
2024.06.18D11:14:16.101789711 4   42
2024.06.18D11:14:16.110250571 349 30
2024.06.18D11:14:16.113293142 986 25
2024.06.18D11:14:16.124235083 933 36
2024.06.18D11:14:16.136815784 883 33
2024.06.18D11:14:16.178878652 931 43
2024.06.18D11:14:16.186265912 999 37
2024.06.18D11:14:16.213368409 480 37
2024.06.18D11:14:16.225525261 929 38
2024.06.18D11:14:16.232190359 490 41
2024.06.18D11:14:16.305562583 908 35
2024.06.18D11:14:16.388789032 507 38
2024.06.18D11:14:16.418755430 880 36
..

In [8]:
calls

time                          id  severity
------------------------------------------
2024.06.18D11:18:28.655329453 212 3
2024.06.18D11:20:46.125917541 673 3
2024.06.18D11:23:38.899371880 463 2
2024.06.18D11:24:30.002896743 332 3
2024.06.18D11:25:33.247876572 366 3
2024.06.18D11:25:51.101732659 259 2
2024.06.18D11:27:21.396756875 355 2
2024.06.18D11:31:57.821328747 73  2
2024.06.18D11:38:07.666033613 370 1
2024.06.18D11:38:31.733696269 775 1
2024.06.18D11:46:22.800644296 236 1
2024.06.18D11:50:18.669310617 488 1
2024.06.18D11:50:25.541130113 820 1
2024.06.18D11:54:01.367157208 205 3
2024.06.18D11:54:06.072221207 963 1
2024.06.18D11:56:45.805814671 87  1
2024.06.18D11:56:52.510666656 172 2
2024.06.18D11:59:56.306491303 695 2
2024.06.18D12:07:45.756369042 871 2
2024.06.18D12:09:27.668610471 852 3
..

In [9]:
computerlookup

id| dept        os
--| -----------------
0 | management  vista
1 | hoopjumping vista
2 | logistics   vista
3 | hoopjumping vista
4 | trading     win7
5 | management  win7
6 | hoopjumping win8
7 | management  win8
8 | telesales   win8
9 | trading     win8
10| trading     vista
11| finance     osx
12| trading     win8
13| trading     win8
14| telesales   win7
15| hoopjumping vista
16| trading     win8
17| packing     vista
18| packing     vista
19| management  osx
..

In [10]:
tables[]!count each value each tables[]

calls         | 3000
computer      | 7200000
computerlookup| 1000
tab           | 1000000

In [11]:
select mxc:max cpu,mnc:min cpu,avc:avg cpu by id from computer

id| mxc mnc avc
--| ----------------
0 | 64  3   6.017778
1 | 93  3   20.72569
2 | 86  3   42.61264
3 | 45  3   4.259444
4 | 100 14  69.37014
5 | 100 3   71.83708
6 | 100 3   64.57722
7 | 100 20  76.74403
8 | 100 15  67.76
9 | 43  3   10.57083
10| 100 3   73.32583
11| 92  3   19.19653
12| 82  3   32.65181
13| 59  3   9.827639
14| 55  3   11.14569
15| 100 3   57.99611
16| 100 32  97.7075
17| 62  3   6.128194
18| 43  3   8.400139
19| 100 3   25.62472
..

In [12]:
select mxc:max cpu,mnc:min cpu,avc:avg cpu by id,time.date from computer

id date      | mxc mnc avc
-------------| ----------------
0  2024.06.18| 64  3   31.36554
0  2024.06.19| 3   3   3
0  2024.06.20| 3   3   3
0  2024.06.21| 3   3   3
0  2024.06.22| 3   3   3
0  2024.06.23| 3   3   3
1  2024.06.18| 93  28  57.36684
1  2024.06.19| 84  3   34.48264
1  2024.06.20| 52  3   26.42847
1  2024.06.21| 36  3   7.066667
1  2024.06.22| 21  3   3.730556
1  2024.06.23| 3   3   3
2  2024.06.18| 65  25  45.02742
2  2024.06.19| 73  12  35.60139
2  2024.06.20| 74  3   28.78819
2  2024.06.21| 85  29  55.68472
2  2024.06.22| 72  20  36.78542
2  2024.06.23| 86  50  68.90504
3  2024.06.18| 45  3   14.21671
3  2024.06.19| 12  3   3.330556
..

In [13]:
select mxc:max cpu,mnc:min cpu,avc:avg cpu by id,time.hh from computer

id hh| mxc mnc avc
-----| ----------------
0  0 | 3   3   3
0  1 | 3   3   3
0  2 | 3   3   3
0  3 | 3   3   3
0  4 | 3   3   3
0  5 | 3   3   3
0  6 | 3   3   3
0  7 | 3   3   3
0  8 | 3   3   3
0  9 | 3   3   3
0  10| 3   3   3
0  11| 40  3   8.02
0  12| 50  3   11.6
0  13| 64  3   13.97333
0  14| 58  3   13.19
0  15| 58  3   12.47333
0  16| 56  3   11.07667
0  17| 41  3   10.08
0  18| 38  3   8.396667
0  19| 24  3   6.473333
..

In [14]:
select mxc:max cpu,mnc:min cpu,avc:avg cpu by id,time.date,time.hh from computer

id date       hh| mxc mnc avc
----------------| ----------------
0  2024.06.18 11| 40  31  35.73913
0  2024.06.18 12| 50  37  46
0  2024.06.18 13| 64  48  57.86667
0  2024.06.18 14| 58  49  53.95
0  2024.06.18 15| 58  44  50.36667
0  2024.06.18 16| 56  33  43.38333
0  2024.06.18 17| 41  34  38.4
0  2024.06.18 18| 38  22  29.98333
0  2024.06.18 19| 24  14  20.36667
0  2024.06.18 20| 21  11  16.26667
0  2024.06.18 21| 15  3   9.433333
0  2024.06.18 22| 11  3   4
0  2024.06.18 23| 4   3   3.016667
0  2024.06.19 0 | 3   3   3
0  2024.06.19 1 | 3   3   3
0  2024.06.19 2 | 3   3   3
0  2024.06.19 3 | 3   3   3
0  2024.06.19 4 | 3   3   3
0  2024.06.19 5 | 3   3   3
0  2024.06.19 6 | 3   3   3
..

In [15]:
select mxc:max cpu,mnc:min cpu,avc:avg cpu by id,0D01:00:00.0 xbar time from computer

id time                         | mxc mnc avc
--------------------------------| ----------------
0  2024.06.18D11:00:00.000000000| 40  31  35.73913
0  2024.06.18D12:00:00.000000000| 50  37  46
0  2024.06.18D13:00:00.000000000| 64  48  57.86667
0  2024.06.18D14:00:00.000000000| 58  49  53.95
0  2024.06.18D15:00:00.000000000| 58  44  50.36667
0  2024.06.18D16:00:00.000000000| 56  33  43.38333
0  2024.06.18D17:00:00.000000000| 41  34  38.4
0  2024.06.18D18:00:00.000000000| 38  22  29.98333
0  2024.06.18D19:00:00.000000000| 24  14  20.36667
0  2024.06.18D20:00:00.000000000| 21  11  16.26667
0  2024.06.18D21:00:00.000000000| 15  3   9.433333
0  2024.06.18D22:00:00.000000000| 11  3   4
0  2024.06.18D23:00:00.000000000| 4   3   3.016667
0  2024.06.19D00:00:00.000000000| 3   3   3
0  2024.06.19D01:00:00.000000000| 3   3   3
0  2024.06.19D02:00:00.000000000| 3   3   3
0  2024.06.19D03:00:00.000000000| 3   3   3
0  2024.06.19D04:00:00.000000000| 3   3   3
0  2024.06.19D05:00:00.000000000| 3   3   3
0  2024.06.19D06:00:00.000000000| 3   3   3
..

In [16]:
timeofday:{`0earlymorn`1midmorn`2lunch`3afternoon`4evening 00:00 07:00 12:00 13:30 17:00 bin x}

In [17]:
select mxc:max cpu,mnc:min cpu,avc:avg cpu by id,time.date,tod:timeofday[time.minute] from computer

id date       tod       | mxc mnc avc
------------------------| ----------------
0  2024.06.18 1midmorn  | 40  31  35.73913
0  2024.06.18 2lunch    | 61  37  48.74444
0  2024.06.18 3afternoon| 64  33  50.98571
0  2024.06.18 4evening  | 41  3   17.35238
0  2024.06.19 0earlymorn| 3   3   3
0  2024.06.19 1midmorn  | 3   3   3
0  2024.06.19 2lunch    | 3   3   3
0  2024.06.19 3afternoon| 3   3   3
0  2024.06.19 4evening  | 3   3   3
0  2024.06.20 0earlymorn| 3   3   3
0  2024.06.20 1midmorn  | 3   3   3
0  2024.06.20 2lunch    | 3   3   3
0  2024.06.20 3afternoon| 3   3   3
0  2024.06.20 4evening  | 3   3   3
0  2024.06.21 0earlymorn| 3   3   3
0  2024.06.21 1midmorn  | 3   3   3
0  2024.06.21 2lunch    | 3   3   3
0  2024.06.21 3afternoon| 3   3   3
0  2024.06.21 4evening  | 3   3   3
0  2024.06.22 0earlymorn| 3   3   3
..

In [18]:
select avc:sum[cpu]%sum samplecount by tod from select sum cpu,samplecount:count cpu by time.date,tod:timeofday[time.minute] from computer

tod       | avc
----------| --------
0earlymorn| 41.9906
1midmorn  | 41.88903
2lunch    | 40.51705
3afternoon| 40.67457
4evening  | 41.46491

In [19]:
select avg cpu by tod:timeofday[time.minute] from computer

tod       | cpu
----------| --------
0earlymorn| 41.9906
1midmorn  | 41.88903
2lunch    | 40.51705
3afternoon| 40.67457
4evening  | 41.46491

In [20]:
calls lj computerlookup

time                          id  severity dept        os
------------------------------------------------------------
2024.06.18D11:18:28.655329453 212 3        telesales   win7
2024.06.18D11:20:46.125917541 673 3        finance     win8
2024.06.18D11:23:38.899371880 463 2        telesales   win8
2024.06.18D11:24:30.002896743 332 3        packing     win8
2024.06.18D11:25:33.247876572 366 3        finance     vista
2024.06.18D11:25:51.101732659 259 2        management  vista
2024.06.18D11:27:21.396756875 355 2        packing     vista
2024.06.18D11:31:57.821328747 73  2        packing     win8
2024.06.18D11:38:07.666033613 370 1        hoopjumping vista
2024.06.18D11:38:31.733696269 775 1        telesales   win8
2024.06.18D11:46:22.800644296 236 1        packing     win7
2024.06.18D11:50:18.669310617 488 1        logistics   osx
2024.06.18D11:50:25.541130113 820 1        trading     win8
2024.06.18D11:54:01.367157208 205 3        management  win8
2024.06.18D11:54:06.072221207 963 1        management  vista
2024.06.18D11:56:45.805814671 87  1        logistics   win7
2024.06.18D11:56:52.510666656 172 2        packing     osx
2024.06.18D11:59:56.306491303 695 2        packing     vista
2024.06.18D12:07:45.756369042 871 2        finance     vista
2024.06.18D12:09:27.668610471 852 3        management  win7
..

In [21]:
select callcount:count i by severity,dept from calls lj computerlookup

severity dept       | callcount
--------------------| ---------
1        finance    | 119
1        hoopjumping| 175
1        logistics  | 124
1        management | 168
1        packing    | 135
1        telesales  | 134
1        trading    | 167
2        finance    | 136
2        hoopjumping| 135
2        logistics  | 111
2        management | 131
2        packing    | 154
2        telesales  | 105
2        trading    | 161
3        finance    | 178
3        hoopjumping| 147
3        logistics  | 126
3        management | 157
3        packing    | 163
3        telesales  | 145
3        trading    | 129

In [22]:
update `computerlookup$id from `calls

`calls

In [23]:
select callcount:count i by id.os,id.dept,severity from calls

os  dept        severity| callcount
------------------------| ---------
osx finance     1       | 33
osx finance     2       | 40
osx finance     3       | 55
osx hoopjumping 1       | 36
osx hoopjumping 2       | 34
osx hoopjumping 3       | 36
osx logistics   1       | 25
osx logistics   2       | 25
osx logistics   3       | 29
osx management  1       | 53
osx management  2       | 39
osx management  3       | 39
osx packing     1       | 39
osx packing     2       | 28
osx packing     3       | 38
osx telesales   1       | 29
osx telesales   2       | 16
osx telesales   3       | 30
osx trading     1       | 39
osx trading     2       | 49
..

In [24]:
aj[`id`time;calls;computer]

time                          id  severity cpu
----------------------------------------------
2024.06.18D11:18:28.655329453 212 3        27
2024.06.18D11:20:46.125917541 673 3        31
2024.06.18D11:23:38.899371880 463 2        38
2024.06.18D11:24:30.002896743 332 3        39
2024.06.18D11:25:33.247876572 366 3        24
2024.06.18D11:25:51.101732659 259 2        28
2024.06.18D11:27:21.396756875 355 2        38
2024.06.18D11:31:57.821328747 73  2        40
2024.06.18D11:38:07.666033613 370 1        32
2024.06.18D11:38:31.733696269 775 1        38
2024.06.18D11:46:22.800644296 236 1        31
2024.06.18D11:50:18.669310617 488 1        17
2024.06.18D11:50:25.541130113 820 1        62
2024.06.18D11:54:01.367157208 205 3        49
2024.06.18D11:54:06.072221207 963 1        19
2024.06.18D11:56:45.805814671 87  1        37
2024.06.18D11:56:52.510666656 172 2        22
2024.06.18D11:59:56.306491303 695 2        43
2024.06.18D12:07:45.756369042 871 2        53
2024.06.18D12:09:27.668610471 852 3        33
..

In [25]:
p:update `p#id from `id xasc computer

In [26]:
wj[-0D00:10 0D00:02+\:calls.time; `id`time; calls; (p;(max;`cpu);(avg;`cpu))]

time                          id  severity cpu cpu
-------------------------------------------------------
2024.06.18D11:18:28.655329453 212 3        31  28.16667
2024.06.18D11:20:46.125917541 673 3        33  31.55556
2024.06.18D11:23:38.899371880 463 2        39  37.58333
2024.06.18D11:24:30.002896743 332 3        39  36.5
2024.06.18D11:25:33.247876572 366 3        36  29
2024.06.18D11:25:51.101732659 259 2        30  27.84615
2024.06.18D11:27:21.396756875 355 2        40  37.08333
2024.06.18D11:31:57.821328747 73  2        41  38.15385
2024.06.18D11:38:07.666033613 370 1        35  33.61538
2024.06.18D11:38:31.733696269 775 1        41  39.38462
2024.06.18D11:46:22.800644296 236 1        36  34.46154
2024.06.18D11:50:18.669310617 488 1        24  20.33333
2024.06.18D11:50:25.541130113 820 1        63  59.57143
2024.06.18D11:54:01.367157208 205 3        51  48.46154
2024.06.18D11:54:06.072221207 963 1        23  20.84615
2024.06.18D11:56:45.805814671 87  1        37  35.46154
2024.06.18D11:56:52.510666656 172 2        24  22.38462
2024.06.18D11:59:56.306491303 695 2        43  41.30769
2024.06.18D12:07:45.756369042 871 2        54  51.07692
2024.06.18D12:09:27.668610471 852 3        37  33.35714
..