In [2]:
n:1000000
item:`apple`banana`orange`pear
city:`beijing`chicago`london`paris
tab:([]time:asc n?0D0;n?item;amount:n?100;n?city)
tab

time                 item   amount city
------------------------------------------
0D00:00:00.514883548 banana 83     beijing
0D00:00:01.027433574 apple  47     beijing
0D00:00:01.097258180 pear   42     london
0D00:00:01.165956258 banana 8      chicago
0D00:00:01.176336407 orange 11     chicago
0D00:00:01.188889145 banana 81     chicago
0D00:00:01.235458999 pear   9      paris
0D00:00:01.562192291 apple  50     chicago
0D00:00:01.600695401 banana 26     beijing
0D00:00:01.658792048 banana 84     beijing
0D00:00:01.729280501 apple  51     chicago
0D00:00:01.822621375 banana 67     beijing
0D00:00:01.921735703 banana 87     chicago
0D00:00:02.002423256 apple  47     beijing
0D00:00:02.330967038 orange 61     paris
0D00:00:02.443660050 pear   12     paris
0D00:00:02.483229339 apple  9      chicago
0D00:00:02.641023695 banana 42     chicago
0D00:00:02.643477916 pear   70     london
0D00:00:02.662709355 banana 33     beijing
..

In [3]:
select from tab where item=`banana

time                 item   amount city
------------------------------------------
0D00:00:00.514883548 banana 83     beijing
0D00:00:01.165956258 banana 8      chicago
0D00:00:01.188889145 banana 81     chicago
0D00:00:01.600695401 banana 26     beijing
0D00:00:01.658792048 banana 84     beijing
0D00:00:01.822621375 banana 67     beijing
0D00:00:01.921735703 banana 87     chicago
0D00:00:02.641023695 banana 42     chicago
0D00:00:02.662709355 banana 33     beijing
0D00:00:02.872665971 banana 77     beijing
0D00:00:02.975361049 banana 72     beijing
0D00:00:03.428003937 banana 0      beijing
0D00:00:04.137575626 banana 71     beijing
0D00:00:04.338680952 banana 25     paris
0D00:00:04.733911156 banana 39     beijing
0D00:00:04.799551516 banana 27     chicago
0D00:00:05.232258886 banana 83     beijing
0D00:00:05.381946265 banana 26     beijing
0D00:00:05.387297272 banana 3      london
0D00:00:05.392064899 banana 2      paris
..

In [4]:
select sum amount by city from tab

city   | amount
-------| --------
beijing| 12372867
chicago| 12386690
london | 12365167
paris  | 12391087

In [5]:
select sum amount by time.hh,item from tab

hh item  | amount
---------| ------
0  apple | 512677
0  banana| 513268
0  orange| 510985
0  pear  | 512136
1  apple | 514414
1  banana| 504401
1  orange| 517075
1  pear  | 524474
2  apple | 517816
2  banana| 518120
2  orange| 520761
2  pear  | 517055
3  apple | 528816
3  banana| 513584
3  orange| 511695
3  pear  | 521034
4  apple | 523317
4  banana| 523027
4  orange| 510743
4  pear  | 516988
..

In [6]:
\t select from tab

0

In [7]:
\l ../../scripts/calls.q

In [8]:
computer

time                          id  cpu
-------------------------------------
2024.06.18D08:48:49.320284698 727 39
2024.06.18D08:48:49.346940933 713 26
2024.06.18D08:48:49.362485261 873 36
2024.06.18D08:48:49.402988522 448 26
2024.06.18D08:48:49.439479738 690 28
2024.06.18D08:48:49.442683767 735 31
2024.06.18D08:48:49.473736921 516 46
2024.06.18D08:48:49.481942515 944 42
2024.06.18D08:48:49.506699281 77  28
2024.06.18D08:48:49.519568478 708 37
2024.06.18D08:48:49.532536964 661 42
2024.06.18D08:48:49.612858837 179 32
2024.06.18D08:48:49.622894154 910 25
2024.06.18D08:48:49.686705136 24  38
2024.06.18D08:48:49.695752283 339 36
2024.06.18D08:48:49.705855247 447 42
2024.06.18D08:48:49.756235435 451 31
2024.06.18D08:48:49.762623740 320 28
2024.06.18D08:48:49.791891800 637 36
2024.06.18D08:48:49.863339301 717 26
..

In [9]:
calls

time                          id  severity
------------------------------------------
2024.06.18D08:49:42.853273967 825 1
2024.06.18D08:51:17.321178385 977 2
2024.06.18D08:52:43.509707072 528 3
2024.06.18D08:53:44.920257100 697 3
2024.06.18D08:54:12.865388164 104 3
2024.06.18D08:54:52.962434807 529 2
2024.06.18D08:55:57.400427678 922 2
2024.06.18D08:56:08.356312731 175 3
2024.06.18D08:57:15.242491880 617 3
2024.06.18D08:59:40.068803498 811 1
2024.06.18D09:00:05.012743839 494 1
2024.06.18D09:02:14.148132720 838 3
2024.06.18D09:02:26.379106411 984 2
2024.06.18D09:03:38.198370853 585 2
2024.06.18D09:03:55.390391865 925 3
2024.06.18D09:07:22.155112245 952 3
2024.06.18D09:07:40.981604376 804 1
2024.06.18D09:11:04.877702215 134 2
2024.06.18D09:12:40.002010235 66  1
2024.06.18D09:15:14.790649631 226 1
..

In [10]:
computerlookup

id| dept        os
--| -----------------
0 | telesales   vista
1 | management  win8
2 | finance     vista
3 | finance     osx
4 | packing     vista
5 | finance     osx
6 | finance     win7
7 | finance     vista
8 | logistics   osx
9 | trading     win8
10| packing     osx
11| finance     win8
12| telesales   win7
13| hoopjumping osx
14| logistics   vista
15| packing     win7
16| finance     osx
17| trading     osx
18| finance     vista
19| management  osx
..

In [11]:
tables[]!count each value each tables[]

calls         | 3000
computer      | 7200000
computerlookup| 1000
tab           | 1000000

In [12]:
select mxc:max cpu,mnc:min cpu,avc:avg cpu by id from computer

id| mxc mnc avc
--| ----------------
0 | 100 33  88.59667
1 | 81  3   29.03111
2 | 100 11  73.19889
3 | 96  3   25.95694
4 | 61  3   16.35764
5 | 100 7   70.93972
6 | 45  3   4.479861
7 | 100 5   59.27861
8 | 59  3   14.16764
9 | 62  3   19.18639
10| 53  3   13.215
11| 100 3   53.66361
12| 57  3   6.851667
13| 100 37  96.16736
14| 26  3   3.138056
15| 100 3   49.28236
16| 82  3   15.81056
17| 35  3   5.022222
18| 81  3   22.51361
19| 100 3   49.17292
..

In [13]:
select mxc:max cpu,mnc:min cpu,avc:avg cpu by id,time.date from computer

id date      | mxc mnc avc
-------------| ----------------
0  2024.06.18| 97  33  66.10977
0  2024.06.19| 100 55  83.62778
0  2024.06.20| 100 75  97.84455
0  2024.06.21| 100 92  99.86449
0  2024.06.22| 100 70  93.29028
0  2024.06.23| 86  54  72.22873
1  2024.06.18| 69  30  51.31908
1  2024.06.19| 68  3   9.961779
1  2024.06.20| 71  3   31.96738
1  2024.06.21| 81  11  42.84931
1  2024.06.22| 47  3   23.85893
1  2024.06.23| 35  3   10.93573
2  2024.06.18| 61  15  40.16557
2  2024.06.19| 73  11  44.64698
2  2024.06.20| 100 37  77.94795
2  2024.06.21| 100 100 100
2  2024.06.22| 100 58  83.18958
2  2024.06.23| 100 71  94.76894
3  2024.06.18| 96  36  63.67069
3  2024.06.19| 76  3   32.3789
..

In [14]:
select mxc:max cpu,mnc:min cpu,avc:avg cpu by id,time.hh from computer

id hh| mxc mnc avc
-----| ----------------
0  0 | 100 64  87.96026
0  1 | 100 61  87.31773
0  2 | 100 61  86.59468
0  3 | 100 66  86.40532
0  4 | 100 54  86.93289
0  5 | 100 59  90.47176
0  6 | 100 71  92.91333
0  7 | 100 57  89.84
0  8 | 100 33  89.06312
0  9 | 100 34  85.20805
0  10| 100 39  85.8543
0  11| 100 42  86.88
0  12| 100 41  87.46465
0  13| 100 60  90.2053
0  14| 100 56  88.99003
0  15| 100 53  88.26174
0  16| 100 71  91.92333
0  17| 100 64  90.96
0  18| 100 59  87.29667
0  19| 100 62  89.03642
..

In [15]:
select mxc:max cpu,mnc:min cpu,avc:avg cpu by id,time.date,time.hh from computer

id date       hh| mxc mnc avc
----------------| ----------------
0  2024.06.18 8 | 43  33  37.25
0  2024.06.18 9 | 50  34  40.85
0  2024.06.18 10| 49  39  44.75
0  2024.06.18 11| 54  42  46.38333
0  2024.06.18 12| 67  41  51.78333
0  2024.06.18 13| 70  60  64.28814
0  2024.06.18 14| 73  56  65.18033
0  2024.06.18 15| 74  53  61.43333
0  2024.06.18 16| 86  71  78.79661
0  2024.06.18 17| 80  64  72.59016
0  2024.06.18 18| 64  59  61.66667
0  2024.06.18 19| 93  64  77.45
0  2024.06.18 20| 97  82  88.46667
0  2024.06.18 21| 86  80  82.76271
0  2024.06.18 22| 88  78  83.52459
0  2024.06.18 23| 87  70  77.76271
0  2024.06.19 0 | 82  64  74.7541
0  2024.06.19 1 | 70  61  66.25424
0  2024.06.19 2 | 77  61  70.78333
0  2024.06.19 3 | 78  66  70.2459
..

In [16]:
select mxc:max cpu,mnc:min cpu,avc:avg cpu by id,0D01:00:00.0 xbar time from computer

id time                         | mxc mnc avc
--------------------------------| ----------------
0  2024.06.18D08:00:00.000000000| 43  33  37.25
0  2024.06.18D09:00:00.000000000| 50  34  40.85
0  2024.06.18D10:00:00.000000000| 49  39  44.75
0  2024.06.18D11:00:00.000000000| 54  42  46.38333
0  2024.06.18D12:00:00.000000000| 67  41  51.78333
0  2024.06.18D13:00:00.000000000| 70  60  64.28814
0  2024.06.18D14:00:00.000000000| 73  56  65.18033
0  2024.06.18D15:00:00.000000000| 74  53  61.43333
0  2024.06.18D16:00:00.000000000| 86  71  78.79661
0  2024.06.18D17:00:00.000000000| 80  64  72.59016
0  2024.06.18D18:00:00.000000000| 64  59  61.66667
0  2024.06.18D19:00:00.000000000| 93  64  77.45
0  2024.06.18D20:00:00.000000000| 97  82  88.46667
0  2024.06.18D21:00:00.000000000| 86  80  82.76271
0  2024.06.18D22:00:00.000000000| 88  78  83.52459
0  2024.06.18D23:00:00.000000000| 87  70  77.76271
0  2024.06.19D00:00:00.000000000| 82  64  74.7541
0  2024.06.19D01:00:00.000000000| 70  61  66.25424
0  2024.06.19D02:00:00.000000000| 77  61  70.78333
0  2024.06.19D03:00:00.000000000| 78  66  70.2459
..

In [17]:
timeofday:{`0earlymorn`1midmorn`2lunch`3afternoon`4evening 00:00 07:00 12:00 13:30 17:00 bin x}

In [18]:
select mxc:max cpu,mnc:min cpu,avc:avg cpu by id,time.date,tod:timeofday[time.minute] from computer

id date       tod       | mxc mnc avc
------------------------| ----------------
0  2024.06.18 1midmorn  | 54  33  43.57292
0  2024.06.18 2lunch    | 67  41  55.41111
0  2024.06.18 3afternoon| 86  53  68.05742
0  2024.06.18 4evening  | 97  59  77.73571
0  2024.06.19 0earlymorn| 93  61  76.10476
0  2024.06.19 1midmorn  | 100 76  90.20667
0  2024.06.19 2lunch    | 100 100 100
0  2024.06.19 3afternoon| 100 92  98.7381
0  2024.06.19 4evening  | 97  55  75.3881
0  2024.06.20 0earlymorn| 100 75  92.60476
0  2024.06.20 1midmorn  | 100 100 100
0  2024.06.20 2lunch    | 100 100 100
0  2024.06.20 3afternoon| 100 100 100
0  2024.06.20 4evening  | 100 100 100
0  2024.06.21 0earlymorn| 100 100 100
0  2024.06.21 1midmorn  | 100 100 100
0  2024.06.21 2lunch    | 100 100 100
0  2024.06.21 3afternoon| 100 100 100
0  2024.06.21 4evening  | 100 92  99.53461
0  2024.06.22 0earlymorn| 100 92  99.48456
..

In [19]:
select avc:sum[cpu]%sum samplecount by tod from select sum cpu,samplecount:count cpu by time.date,tod:timeofday[time.minute] from computer

tod       | avc
----------| --------
0earlymorn| 41.8873
1midmorn  | 41.12075
2lunch    | 40.83078
3afternoon| 40.88695
4evening  | 41.27756

In [21]:
select avg cpu by tod:timeofday[time.minute] from computer

tod       | cpu
----------| --------
0earlymorn| 41.8873
1midmorn  | 41.12075
2lunch    | 40.83078
3afternoon| 40.88695
4evening  | 41.27756

In [23]:
calls lj computerlookup

time                          id  severity dept        os
------------------------------------------------------------
2024.06.18D08:49:42.853273967 825 1        trading     vista
2024.06.18D08:51:17.321178385 977 2        hoopjumping win7
2024.06.18D08:52:43.509707072 528 3        finance     win8
2024.06.18D08:53:44.920257100 697 3        packing     win7
2024.06.18D08:54:12.865388164 104 3        hoopjumping vista
2024.06.18D08:54:52.962434807 529 2        logistics   win7
2024.06.18D08:55:57.400427678 922 2        packing     vista
2024.06.18D08:56:08.356312731 175 3        telesales   vista
2024.06.18D08:57:15.242491880 617 3        finance     vista
2024.06.18D08:59:40.068803498 811 1        hoopjumping win7
2024.06.18D09:00:05.012743839 494 1        trading     win8
2024.06.18D09:02:14.148132720 838 3        packing     win7
2024.06.18D09:02:26.379106411 984 2        packing     win7
2024.06.18D09:03:38.198370853 585 2        finance     osx
2024.06.18D09:03:55.390391865 925 3        management  vista
2024.06.18D09:07:22.155112245 952 3        logistics   win7
2024.06.18D09:07:40.981604376 804 1        management  win7
2024.06.18D09:11:04.877702215 134 2        logistics   win8
2024.06.18D09:12:40.002010235 66  1        packing     win7
2024.06.18D09:15:14.790649631 226 1        packing     osx
..

In [25]:
select callcount:count i by severity,dept from calls lj computerlookup

severity dept       | callcount
--------------------| ---------
1        finance    | 142
1        hoopjumping| 122
1        logistics  | 132
1        management | 160
1        packing    | 184
1        telesales  | 148
1        trading    | 144
2        finance    | 165
2        hoopjumping| 111
2        logistics  | 176
2        management | 129
2        packing    | 170
2        telesales  | 122
2        trading    | 136
3        finance    | 130
3        hoopjumping| 132
3        logistics  | 147
3        management | 151
3        packing    | 154
3        telesales  | 122
3        trading    | 123

In [26]:
update `computerlookup$id from `calls

`calls

In [27]:
select callcount:count i by id.os,id.dept,severity from calls

os  dept        severity| callcount
------------------------| ---------
osx finance     1       | 42
osx finance     2       | 42
osx finance     3       | 30
osx hoopjumping 1       | 38
osx hoopjumping 2       | 31
osx hoopjumping 3       | 40
osx logistics   1       | 36
osx logistics   2       | 45
osx logistics   3       | 39
osx management  1       | 43
osx management  2       | 34
osx management  3       | 49
osx packing     1       | 71
osx packing     2       | 54
osx packing     3       | 38
osx telesales   1       | 38
osx telesales   2       | 26
osx telesales   3       | 28
osx trading     1       | 32
osx trading     2       | 31
..