In [1]:
ec1:([]city:`Istanbul`Moscow`London`StPetersburg;country:`Turkey`Russia`UK`Russia;pop:15067724 12615279 9126366 5383890)
ec1

city         country pop
-----------------------------
Istanbul     Turkey  15067724
Moscow       Russia  12615279
London       UK      9126366
StPetersburg Russia  5383890

In [3]:
ec1 2

city   | `London
country| `UK
pop    | 9126366

In [6]:
ec1 2 0

city     country pop
-------------------------
London   UK      9126366
Istanbul Turkey  15067724

In [10]:
flip ec1

city   | Istanbul Moscow   London  StPetersburg
country| Turkey   Russia   UK      Russia
pop    | 15067724 12615279 9126366 5383890

`Istanbul`Moscow`London`StPetersburg

`Istanbul`Moscow`London`StPetersburg

In [8]:
flip flip ec1

city         country pop
-----------------------------
Istanbul     Turkey  15067724
Moscow       Russia  12615279
London       UK      9126366
StPetersburg Russia  5383890

In [12]:
ec2:flip`city`country`pop!(`Berlin`Kyiv`Madrid;`Germany`Ukraine`Spain;3748148 3703100 3223334)
ec2

city   country pop
----------------------
Berlin Germany 3748148
Kyiv   Ukraine 3703100
Madrid Spain   3223334

In [13]:
select city,pop from ec2 upsert ec1

city         pop
---------------------
Berlin       3748148
Kyiv         3703100
Madrid       3223334
Istanbul     15067724
Moscow       12615279
London       9126366
StPetersburg 5383890

In [16]:
1 2 3,10 20

1 2 3 10 20

In [17]:
"abc","def"

"abcdef"

In [22]:
ec:ec2,ec1
ec

city         country pop
-----------------------------
Berlin       Germany 3748148
Kyiv         Ukraine 3703100
Madrid       Spain   3223334
Istanbul     Turkey  15067724
Moscow       Russia  12615279
London       UK      9126366
StPetersburg Russia  5383890

In [19]:
conts:`Africa`Asia`Australia`Europe`NorthAmerica`SouthAmerica

In [20]:
`:../../../data/conts set conts

`:../../../data/conts

In [21]:
get `:../../../data/conts

`Africa`Asia`Australia`Europe`NorthAmerica`SouthAmerica

In [23]:
`:../../../data/ec set ec

`:../../../data/ec

In [27]:
select from `:../../../data/ec where pop>5000000

city         country pop
-----------------------------
Istanbul     Turkey  15067724
Moscow       Russia  12615279
London       UK      9126366
StPetersburg Russia  5383890